<footer class="mt-4 text-center" style="background-color: black;">

    <div class="container-fluid">
        <div class="row p-5 pb-2 text-white">
            <div class="col-xs-12 cl-md-6 col-lg-3">
                <p class="h3 mb-4">Proyecto A.P.</p>
                <p class="text-secondary">San Martin, Buenos Aires, Argentina.</p>
            </div>
            <div class="col-xs-12 cl-md-6 col-lg-3">
                <p class="h5 mb-3">Lenguajes</p>
                <div class="mb-2">
                    <p class="text-secondary">HTML</p>
                </div>
                <div class="mb-2">
                    <p class="text-secondary">CSS</p>
                </div>
                <div class="mb-2">
                    <p class="text-secondary">JavaScript</p>
                </div>
                <div class="mb-2">
                    <p class="text-secondary">Node.js</p>
                </div>
            </div>
            <div class="col-xs-12 cl-md-6 col-lg-3">
                <p class="h5 mb-3">Contenido</p>
                <div class="mb-2">
                    <p class="text-secondary">Maquetado</p>
                </div>
                <div class="mb-2">
                    <p class="text-secondary">Bootstrap</p>
                </div>
                <div class="mb-2">
                    <p class="text-secondary">Git / GitHub</p>
                </div>
                <div class="mb-2">
                    <p class="text-secondary">Express</p>
                </div>
                <div class="mb-2">
                    <p class="text-secondary">Base de Datos</p>
                </div>
            </div>
            <div class="col-xs-12 cl-md-6 col-lg-3">
                <p class="h5 mb-3">Contacto</p>
                <div class="mb-2">
                    <a class="text-secondary text-decoration-none" href="https://www.instagram.com/facuanzo/"
                        target="_blank">Instagram</a>
                </div>
                <div class="mb-2">
                    <a class="text-secondary text-decoration-none" href="https://walink.co/33ee93"
                        target="_blank">WhatsApp</a>
                </div>
            </div>
            <div class="col-xs-12 pt-4">
                <p class="text-center">Copyright - All rights reserved &copy; 2023</p>
            </div>
        </div>
    </div>
</footer>

<script src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js'
    integrity='sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm'
    crossorigin='anonymous'></script>
</body>

</html>