<%-include('partials/header') %>
<%-include('partials/navbar') %>

<div class="container mb-2">
    <div class="row">
        <div class="col">
            <h1 class="display-1 text-center text-warning pb-3">Lista de Publicaciones</h1>
        </div>
    </div>
    <div class="row col">
        <main class="d-flex flex-column gap-2" id="posts-list">
        
        </main>
    </div>
</div>

<script src="/js/home.js"></script>
<%-include('partials/footer') %>